<div>
    <form action="/action_page.php">
      <label for="fname">Nome</label>
      <input type="text" id="fname" name="firstname" placeholder="Nome...">
  
      <label for="lname">Sobrenome</label>
      <input type="text" id="lname" name="lastname" placeholder="Sobrenome...">

      <label for="lname">Data de Nascimento</label>
      <input type="date" id="date" name="dateBirth">
  
      <label for="education">Escolaridade</label>
      <select id="education" name="education">
        <option value="infantil">Infantil</option>
        <option value="fundamental">Fundamental</option>
        <option value="medio">Médio</option>
        <option value="superior">Superior</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div>
    <form>
  <input type="text" name="search" placeholder="Search..">
</form>
  </div>