<div class="row mt-5">
  <div class="col" style="display: flex;">
    <input type="text" class="form-control mx-5" placeholder="Pesquisar...">
    <button class="btn btn-primary mx-5" (click)="openModal()"> Novo </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <div class="card  mx-5">
      <app-user-list></app-user-list>
    </div>

  </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">Novo Usuário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-form></app-form>
      </div>
    </div>
  </div>
</div>